button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 3.5px 7px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
button:hover {
  color: white;
  outline: 0;
  box-shadow: 0 0 40px 40px red inset;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
