@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

@import "button.css";
@import "todo.css";
@import "input.css";
@import "weather.css";

* {
  margin: 0;
  overflow-wrap: break-word;
}

body {
  position: relative;
  color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.clock-box,
.greeting-box,
#todo-form,
#quote,
#login-form {
  position: absolute;
  left: 50%;
}

.clock-box {
  top: 35%;
  transform: translate(-50%, -35%);
  font-size: 500%;
  font-weight: 500;
}

.greeting-box {
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: 400;
}

#quote {
  top: 90%;
  transform: translate(-50%, -90%);
  font-size: 100%;
  font-weight: 300;
}
#login-form {
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: 400;
}
